.App {
  text-align: center;
  background-color:		#cfe5eb;
  height: 100vh;
  color:	#797979;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.task{
  height:auto;
  width:350px;
  border: 5px double;
  background-color:#5fc1e6;
  border-color:	#0064db;
}
#list{
  display:flex;
  justify-content:flex-end;
  flex-wrap:wrap;

}
#newTask{
  border:5px dashed;
  max-height:400px;
  min-width:500px;
  background-color:#5fc1e6;
  border-color:	#0064db
}
#parent{
  display:flex;

}
button{
  background-color:#cfe5eb;
  border-radius:5px;
}
input{
  background-color:#cfe5eb;
  border-radius:5px;
}